<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="bs-example ">
    <nav class="nav nav-pills preview-box">
      <a href="#" class="nav-item nav-link " [routerLink]='"/home"' >
        Home
       </a>
        <a href="#" class="nav-item nav-link " [routerLink]='"/locations"' >
            Locations
       </a>
        <a href="#" class="nav-item nav-link " [routerLink]='"/scheduler"'>
             Scheduler
        </a>
         
        
    </nav> -->
<!-- <form>
    <div class="listOfLocationsDiv">
        <div class="form-group">
            <label for="url">FTP URL:</label>
            <input type="text" class="form-control" id="ftpURL">
          </div>
          <div class="form-group">
            <label for="url">LocationName:</label>
            <input type="text" class="form-control" id="ftpURL">
          </div>
          <div class="form-group">
            <label for="userName">User Name:</label>
            <input type="text" class="form-control" id="userName">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
          </div>
          <button type="submit"  class="btn btn-primary" style="margin-right:1%;">Test</button>
          <button type="submit"   id="location" class="btn btn-primary">Save</button>
    </div>
    </form> -->
<div class="modal-header pt-2 pb-2">
  <h4 class="modal-title">{{ title }}</h4>
  <button type="button" style="background-color: white; border: 2px solid white;" aria-label="Close"
    (click)="activeModal.close()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>

<form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group">
      <div class="row m-0">
        <div class="col-sm-6">
          <label>Location Name: </label>
          <input type="text" class="form-control" formControlName="locationName">
          <span class="help-block" *ngIf="locationForm.get('locationName').errors &&
                (locationForm.get('locationName').touched || (locationForm.get('locationName').dirty))">
            <span *ngIf="locationForm.get('locationName').errors.required">
              Location Name is required
            </span>
          </span>
        </div>
        <div class="col-sm-6">
          <label>FTP Location Url: </label>
          <input type="text" class="form-control" formControlName="ftpLocationUrl">
          <span class="help-block" *ngIf="locationForm.get('ftpLocationUrl').errors &&
                     (locationForm.get('ftpLocationUrl').touched || (locationForm.get('ftpLocationUrl').dirty))">
            <span *ngIf="locationForm.get('ftpLocationUrl').errors.required">
              Ftp Location Url is required
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row m-0">
        <div class="col-sm-6">
          <label>User Name: </label>
          <input type="text" class="form-control" formControlName="userName">
          <span class="help-block" *ngIf="locationForm.get('userName').errors &&
                     (locationForm.get('userName').touched || (locationForm.get('userName').dirty))">
            <span *ngIf="locationForm.get('userName').errors.required">
              User Name is required
            </span>
          </span>
        </div>

        <!-- <div class="col-sm-6">
          <label>ID: </label>
          <input type="text" class="form-control" formControlName="id">
          <span class="help-block" *ngIf="locationForm.get('userName').errors &&
                         (locationForm.get('id').touched || (locationForm.get('id').dirty))">
            <span *ngIf="locationForm.get('id').errors.required">
              ID is required
            </span>
          </span>
        </div> -->
      <!-- </div>
    </div>  -->
        <!-- <div class="form-group">
          <div class="row m-0"> -->
            <div class="col-sm-6">
              <label>Password: </label>
              <input type="password" class="form-control" formControlName="password">
              <span class="help-block" *ngIf="locationForm.get('password').errors &&
                     (locationForm.get('password').touched || (locationForm.get('password').dirty))">
                <span *ngIf="locationForm.get('password').errors.required">
                  Password is required
                </span>
              </span>
            </div>
            </div>
            </div>
          </div>
        <!-- </div>
      </div> -->





      <div class="modal-footer p-0">
        <button class="btn btn-primary btn-sm m-2" type="save" (click)="addLocationForm()"
          [disabled]="!locationForm.valid && !formValue">Test</button>
        <button *ngIf="!formValue" class="btn btn-primary btn-sm m-2" type="submit"
          [disabled]="!locationForm.valid">Save</button>
      </div>
</form>
<!-- </div>  -->