/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
/* .ag-theme-balham{
 @include ag-theme-balham-dark((
        row-background-color: #949393
    ));
}  */
body {
    margin: 0;
    font-family: "Robert", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
    color: #f5f6f8;
    text-align: left;
    background-color: #5c5c5e;
}