<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
      <body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <h2>LOGIN</h2>
          </div>
      
          <!-- Login Form -->
          <form>
            <input type="text" id="login" class="fadeIn second" placeholder="Enter Username" [(ngModel)]="username" name="username" required>
            <input type="password" id="password" class="fadeIn third" placeholder="Enter Password" [(ngModel)]="password" name="password" required>
             <button (click)="login()" id="login" type=”button” class="fadeIn fourth">Login</button>
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            
          </div>
      
        </div>
      </div>
      </body>
      </html>