<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="bs-example">
     <nav class="nav nav-pills">
          <a  class="nav-item nav-link " [routerLink]='"/home"' routerLinkActive="active">
               Home
          </a>
          <a class="nav-item nav-link " [routerLink]='"/locations"' routerLinkActive="active">
               Locations
          </a>
          <a class="nav-item nav-link " [routerLink]='"/scheduler"' routerLinkActive="active">
               Schedulers
          </a>
     </nav>
</div> -->
<router-outlet></router-outlet>