<i class="fa fa-pencil-square-o ml-1" data-toggle="tooltip" data-placement="bottom" title="Edit" aria-hidden="true"
    (click)="invokeEditViewMethod('Edit')"></i>
<i class="fa fa-eye ml-2" data-toggle="tooltip" data-placement="bottom" title="View" aria-hidden="true"
    (click)="invokeEditViewMethod('View')"></i>
<i class="fa fa-trash-o ml-2" data-toggle="tooltip" data-placement="bottom" title="Delete" aria-hidden="true"
    (click)="invokeDeleteMethod()"></i>

    
    

    <!-- <i class="fa fa-pencil-square-o ml-1" data-toggle="tooltip" data-placement="bottom" title="Edit" aria-hidden="true"
    (click)="updateStudent(location.id)"></i> -->